{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
    <!--================ Start Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner_content">
                            <p class="text-uppercase header"> Hello</p>
                            <h1 class="text-uppercase gradient-color">Get Latest</h1>
                            <h2 class="text-uppercase typewrite" style="color: black" data-period="1000" data-type='["Python", "Daily", "Tips"]'>
                                <span class="wrap"> </span>
                            </h2>
                            <br />
                            <div class="d-flex align-items-center">
                                <form method="GET">
                                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                                      <div class="input-group">
                                        <input name="q" type="text" placeholder="Search Python Tips?😉" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                        <div class="input-group-append">
                                          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                  <!-- End -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="home_right_img">
                            <img class="" src="{% static 'img/banners/home-right.png' %}" alt="home-banner" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Home Banner Area =================-->

    <!--================ Start About Area =================-->
    <section class="about_area" id="about">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img class="" src="{% static 'img/banners/about-us.png' %}" alt="about-us" />
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left">
                        <h1>
                            About The App <br />
                        </h1>
                        <p>
                            The App uses tweepy to help get latest post concerning various tweet posted on Twitter
                            on Daily Python Tips 💪
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Area =================-->


    <!--================ Start Projects Area =================-->
    <section id="Hashtags">
        <div class="container">
            <div class="main_title text-center">
                <h1>😄 #HashTags</h1>
            </div>
            <div class="contain_grid">
                <div class="single-portfolio-item d-table">
                    <h2>
                        ☑️ Python Daily Tips hash Tags
                    </h2>
                    <p>
                         <br />
                         {% for hashtag_keys in hashtag_freq_keys %}
                         {% for hashtag_key in hashtag_keys %}
                         
                             <span style="font-size: {{hashtag_freq_values.0 |get_index:forloop.counter0|get_font_em_ratio}}em"></span>
                                <a href="{% url 'tweets-filtered' hashtag_key %}"><b>🌞#{{hashtag_freq_keys.0 | get_index:forloop.counter0}}</b></a>
                            </span>
     
                         {% endfor %}
                         {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--================End Projects Area =================-->

    <!--================ Start Tweet Area =================-->

    <section class="section_gap" id="Tweeets">
        <div class="container">
            <div class="main_title text-center">
                <h1>😉Tweets</h1>
            </div>
            <div class="contain_grid">
                <div class="single-portfolio-item d-table">
                    <div class="row">
                    {% for tweet in tweets %}
                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="single-portfolio-item">
                                <div class="blog-img d-block overflow-hidden position-relative">
                                    <img src="{{ tweet.user.profile_image_url }}" class="img-fluid rounded-top" alt="">
                                    <div class="overlay rounded-top bg-dark"></div>
                                    <div class="post-meta">
                                        <a href="javascript:void(0)" class="text-light d-block text-right like"><i class="mdi mdi-heart"></i> 33</a>
                                    </div>
                                </div>
                                <div class="content p-3">
                                    <small class="text-muted p float-right">{{ tweet.created_at|date:"F d, Y" }}</small>
                                    {% for url in tweet.entities.urls %}
                                    <small><a href="{{ url.url }}" class="text-primary">{{ url.url }}</a></small>
                                    {% endfor %}
                                    {% for hashtag in tweet.entities.hashtags %}
                                    <h4 class="mt-2"><a href="javascript:void(0)" class="text-dark title">#{{ hashtag.text }}</a></h4>
                                    {% endfor %}
                                    <a class="mr-2">{{ tweet.Status }}</a>
                                    <p class="text-muted mt-2">{{ tweet.text }}.</p>
                                    <div class="pt-3 mt-3 border-top d-flex">
                                        <div class="author mt-2">
                                            {% if tweet.byUser %}
                                            <h6 class="mb-0"><a href="https://twitter.com/{{tweet.byUser}}" class="text-dark name">By @{{tweet.byUser }}</a></h6>
                                            {% endif %}
                                            <span style="flex: 1" class="anchor-right">
                                                <abbr title="reactions" style="text-decoration-line: none; cursor: default">
                                                    <i class="fa fa-heart" alt="likes" style="margin-left: 1em"></i>
                                                    <span style="margin-left: 0.5em">{{tweet.favorite_count}}</span>
                                                </abbr>
                                                <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id}}">
                                                <abbr title="comments" style="text-decoration-line: none; cursor: default">
                                                    <i class="fa fa-retweet" alt="Retweeet" style="margin-left: 1em"></i>
                                                    <span style="margin-left: 0.5em">{{tweet.retweet_count}}</span>
                                                </abbr>
                                                </a>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end blog post-->
                        </div>
                    {% endfor %}  

                    <div class="col-md-12">
                        {% if is_paginated %}

                        {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                        
                        {% endif %}
                    </div>
                    
                    </div><!--end row-->
                </div>
            </div>
        </div>
    </section>
    <!--================End Tweet Area =================-->

    {% endblock %}

    